
body {
  background: #f5f6fa;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
  overflow: hidden;

}
#wrapper {


  overflow: hidden;
  width: 600px;
  display: table;
  margin: 20px;
}

#wrapper > div{
  background: #ffffff;
  padding: 15px;
  margin-top: 10px;
}

.none{
  display: none !important;
}

.show{
  display: block !important;
}

.invalid-feedback{
  text-align: center;
  margin-bottom: 10px;
  font-size:18px;
}
